<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>This blog is a blog!</title>
  </head>
  <body>

    <span><a href="/">View All Posts</a></span>
    <span>|</span>
    <span><a href="/posts/new">Add New Post</a></span>
    <%= yield %>
  </body>
</html>
